audio/
env/
/utils.py
/tempCodeRunnerFile.ipynb
/__pycache__
scripts/__pycache__
scripts/clips/
scripts/test.json
scripts/train.json
virtual_env/
neuralnet/__pycache__/
neuralnet/tb_logs/
model.ipynb
neuralnet/model