audio/
env/

/tempCodeRunnerFile.ipynb
/__pycache__
scripts/__pycache__
scripts/clips/
scripts/test.json
scripts/train.json

neuralnet/__pycache__/
neuralnet/tb_logs/

model.ipynb

neuralnet/model
neuralnet/api.txt
.vscode
cpu_env/

optimized_model.ckpt
3glm.arpa
audio_temp